---
---

<div>
  <ul class="mt-5">
    <li>
      <strong>High School Years.</strong>
      Began writing answers on <a href="https://www.quora.com/profile/Ashutosh-Tripathi-157" class="index-link" target="_blank">Quora</a>, 
      amassing nearly 2 million views. Developed web apps while still in high school.
    </li>
    <li>
      <strong>NIT Jalandhar.</strong>
      Launched TheBigRex, a technology news blog, achieving 10k monthly unique visitors.
      Secured a <a href="https://github.com/ashucoder9/SysMonitor" class="index-link" target="_blank">software engineering internship</a> at Incedo, completed in May 2022.
    </li>
    <li>
      <strong>Venture into Web3.</strong>
      Participated in and won the Encode '22 challenge, hosted by IIT-Hyderabad, 
      by developing an <a href="https://drive.google.com/file/d/18NG2s9FliWtHhqA7QhyHxLfmpub5MGPf/view" class="index-link" target="_blank">NFT marketplace</a> 
      on NEAR Protocol. Engaged in various projects involving Ethereum and NEAR Protocol.
    </li>
    <li>
      <strong>Push Protocol.</strong>
      Joined as a Technical Writer and Developer Relations Advocate. Created comprehensive 
      <a href="https://docs.push.org/developers" class="index-link" target="_blank">developer documentation</a> and managed the developer community.
    </li>
    <li>
      <strong>Polygon Labs.</strong>
      As a Senior Technical Writer at Polygon, managed <a href="https://wiki.polygon.technology/" class="index-link" target="_blank">Polygon Wiki</a> 
      and spearheaded the documentation of <a href="https://wiki.polygon.technology/docs/zkevm/" class="index-link" target="_blank">Polygon zkEVM</a> 
      and <a href="https://wiki.polygon.technology/docs/miden/" class="index-link" target="_blank">Miden</a> protocols, including 
      <a href="https://wiki.polygon.technology/docs/tools/matic-js/get-started/" class="index-link" target="_blank">API documentation</a> for developer toolings.
    </li>
    <li>
      <strong>Ava Labs.</strong>
      As a Developer Relations Engineer at Avalanche, I help teach developers about the Avalanche 
      ecosystem and how to effectively use Ava Labs technology. Check out the <a href="https://docs.avax.network" class="index-link" target="_blank">documentation</a> and courses on 
      <a href="https://academy.avax.network/?utm_source=ashngmi&utm_medium=website&utm_content=intro" class="index-link" target="_blank">Avalanche Academy</a>.
    </li>
  </ul>
</div>
