---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#52789b] to-[#539acf] hover:after:bg-gradient-to-r hover:after:from-[#52789b] hover:after:to-[#539acf]"
      href={"https://github.com/flexdinesh/blogster"}
      target="_blank"
    >
    <i class="fa-brands fa-linkedin" aria-hidden="true" title="Ashutosh Tripathi on LinkedIn"></i>
      LinkedIn</a> | 
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#ee2a7b] to-[#c62a96] hover:after:bg-gradient-to-r hover:after:from-[#ee2a7b] hover:after:to-[#c62a96]"
      href={"https://github.com/flexdinesh/blogster"}
      target="_blank"
    >
    <i class="fa-brands fa-instagram" aria-hidden="true" title="Ashutosh Tripathi on Instagram"></i>
      Instagram</a> | 
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      href={"mailto:ashucoder9@gmail.com"}
      target="_blank"
    >
    <svg xmlns="http://www.w3.org/2000/svg" height="0.9em" viewBox="0 50 512 512"><style>svg{fill:#0b84e0; display:inline}</style><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
      Email</a>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
